/*------------Splashbillede-------------*/
#main_wrapper {
    margin: 0 auto;
}

#lampe {
    width: auto;
    position: relative;
    text-align: center;
}


.text {
    position: relative;
    text-align: left;
    bottom: 20px;
    left: 20px;
    margin-top: -130px;
    margin-bottom: 40px;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    /*    font-style: italic;*/
}

.text h1 {
    font-size: 35px;
}

.text h2 {
    font-size: 22px;
    margin-left: 2px;
}

/*------------Section1-------------*/
.section1 p {
    font-size: 13px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    letter-spacing: 0.5px;
}

.section1 p:first-child {
    font-style: italic;
    font-size: 20px;
}

.section1 {
    width: 100%;
    display: block;
}

.billede1 {
    text-align: center;
    margin-top: 30px;

}

.billede2 {
    text-align: center;
    margin-top: 10px;
}

.ommig {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #585858;
    background-color: #e3e3e3;
    padding: 4px;
    cursor: pointer;
    display: block;
    width: 242px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4px;
}

.portfolio {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #585858;
    background-color: #e3e3e3;
    padding: 4px;
    cursor: pointer;
    display: block;
    width: 242px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4px;

}

/*------------Section2-------------*/
.section2 {
    width: 60vw;
    height: 60vw;

}

#beigefirkant img {

    padding: 10px;
    height: 90%;
    width: 80%;
    margin-left: 5px;
    margin-right: auto;
    position: relative;
    margin-top: 50px;
    z-index: 2;

}

#uibillede img {

    padding: 10px;
    height: 50vw;
    width: 70vw;
    margin-top: -38vw;
    margin-left: 17vw;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

/*------------Section3-------------*/
.section3 {
    margin-top: 20vw;
}

.section3 p {
    font-size: 13px;
    font-family: 'Playfair Display', serif;
    text-align: left;
    letter-spacing: 0.5px;
    margin-left: 15px;
}

.section3 p:first-child {
    font-style: italic;
    font-size: 20px;
}

.uiux {
    /* knap*/
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    background-color: #BAC7BE;
    padding: 10px;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
    width: 40%;
    margin-left: 25vw;
    margin-top: 10vw;


}

/*------------Section4-------------*/
.box {
    background-color: #D5C5AE;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: 205px;
    margin-right: auto;
    position: relative;
    margin-top: 50px;
    z-index: 1;
}

#mig {
    position: relative;
    margin-left: 70px;
    margin-top: -125px;
    display: inline-block;
    overflow: hidden;
    border-radius: 300px;
    z-index: 2;
}

.textbox {
    background-color: #e3e3e3;
    padding: 5px;
    margin-top: 8px;
}

.section4 p {
    font-size: 13px;
    font-family: 'Playfair Display', serif;
    text-align: left;
    letter-spacing: 0.5px;
    margin-left: 15px;
}

.section4 p:first-child {
    font-style: italic;
    font-size: 20px;
}

/*------------Section5-------------*/
.mintbox1 {
    background-color: #BAC7BE;
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 200px;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-top: 50px;
}

.mintbox2 {
    background-color: #BAC7BE;
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 200px;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.mintbox3 {
    background-color: #BAC7BE;
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 200px;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-bottom: 50px;

}

/*
.section5 a {
    font-size: 13px;
    font-family: 'Playfair Display', serif;
    text-align: left;
    letter-spacing: 0.5px;
    margin-left: 15px;
}
*/

@media screen and (min-width: 450px) {
    #lampe {
        height: 430px;
        width: auto;
        position: relative;
        width: 100vw;
        text-align: center;
    }

}


@media screen and (min-width: 600px) {
    #lampe {
        height: 490px;
        width: auto;
        position: relative;
        width: 100vw;
        text-align: center;
    }

}


@media screen and (min-width: 780px) {
    #lampe {
        height: 550px;
        width: auto;
        position: relative;
        width: 100vw;
        text-align: center;
    }

    .text {
        position: relative;
        margin-top: -150px;
    }

    .text h1 {
        font-size: 40px;
    }

    .text h2 {
        font-size: 30px;
    }

    .grid {
        width: 80vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .indhold1 {
        margin-right: 0;
        height: 90%;
        width: 80%;
        display: block;
        margin: auto;
    }

    .indhold2 {
        margin-right: 0;
        height: 90%;
        width: 80%;
        margin-top: 15vw;
        display: block;
        margin: auto;
    }

    .billede1 {
        margin-top: 0;

    }

    .billede2 {
        margin-top: 0;
    }


    .ommig {
        padding: 5px;

    }

    .portfolio {
        padding: 5px;
    }

    /*
    #uibillede {

        padding: 10px;
        height: 90%;
        width: 50%;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 2;
    }
*/

}

@media screen and (min-width: 990px) {
    #lampe {
        height: 650px;
        width: auto;
        position: relative;
        width: 100vw;
        text-align: center;
    }
}

@media screen and (min-width: 1080px) {
    #lampe {
        height: 660px;
        width: auto;
        position: relative;
        width: 100vw;
        text-align: center;
    }

    .text {
        position: relative;
        margin-top: -200px;
    }

    .text h1 {
        font-size: 50px;
    }

    .text h2 {
        font-size: 40px;
    }
}


@media screen and (min-width: 1300px) {
    #lampe {
        height: 700px;
        width: auto;
        position: relative;
        width: 100vw;
        text-align: center;
    }
}
