/*------------Splashbillede-------------*/

.splash {
    /*    background-position: center;*/
    height: auto;
    position: relative;
}


.text {
    position: absolute;
    text-align: left;
    bottom: 20px;
    left: 20px;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    /*    font-style: italic;*/
}

.section1 p {
    text-align: center;
}

.section1 p:first-child {
    font-style: italic;
    font-size: 20px;
}

.billede1 {
    text-align: center;
}

.ommig {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #585858;
    background-color: #e3e3e3;
    padding: 1px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
    width: 59.2%;
    margin-left: 46.3vw;
    margin-top: 6.5vw;

}
