/*------------Section1-------------*/
.box {
    background-color: #D5C5AE;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: 205px;
    margin-right: auto;
    position: relative;
    margin-top: 50px;
    z-index: 1;
}

#mig {
    position: relative;
    margin-left: 70px;
    margin-top: -125px;
    display: inline-block;
    overflow: hidden;
    border-radius: 300px;
    z-index: 2;
}

.section1 p:first-child {
    font-style: italic;
    font-size: 20px;
}

p {
    font-size: 13px;
    font-family: 'Playfair Display', serif;
    text-align: left;
    letter-spacing: 0.5px;
    margin-left: 15px;
    line-height: 20px;
}
