/*------------Menutop-------------*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #CBB7A4;
    font-family: 'Open Sans Condensed', sans-serif;

}



/*------------logo-------------*/
.logo {
    color: white;
    letter-spacing: 2px;
    font-size: 10px;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    left: 3vw;
    text-decoration: none;
}

/*------------Burgermenu-------------*/

ul {
    list-style-type: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans Condensed',
        sans-serif;
}

.menuknap {
    display: none;
    color: white;
    font-size: 29px;
    cursor: pointer;
    position: absolute;
    right: 10vw;


}



@media screen and (max-width: 750px) {
    body {
        overflow-x: hidden;
        /*        så man ikke kan scroll til højre og se baren*/
    }

    .menu {
        position: absolute;
        right: 0px;
        height: 60vh;
        top: 13vh;
        background-color: #CBB7A4;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);

    }

    .logo h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        position: relative;
        left: 5vw;
    }


    /* menuen usynligøres indtil der klikkes på burger*/
    .menu li {
        opacity: 100%;
    }

    /*    synligør menuknappen(burgerbar)*/
    .menuknap {
        display: block;
        z-index: 100;
        color: white;
        position: absolute;
        right: 50px;
        /*---få burgermenu ud til højre uden brug af right px---*/

    }
}

/*
********* MOBIL NAV BAR ************

@media screen and (max-width: 1024px) {
    .menu {
        width: 55%;
        position: absolute;
        left: 40vw;
    }

    .logo {
        color: white;
        letter-spacing: 2px;
        font-size: 30px;
        cursor: pointer;
        font-family: 'Playfair Display', serif;
        position: absolute;
        left: 5vw;
    }

    .logo h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        position: relative;
        left: 1vw;
    }

}
*/

/********** MOBIL NAV BAR SLUT *************/

/*Når menuknappen klikkes skal den tydeligøres (til javascript) */
.menuknap_aktiv {
    transform: translateX(0%);
}
