/*------------Menutop-------------*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: white;
    font-family: 'Open Sans Condensed', sans-serif;

}


/*------------logo-------------*/
.logo {
    color: #585858;
    letter-spacing: 2px;
    font-size: 10px;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    margin-left: -320px;
    text-align: left;
}

.logo h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    position: relative;
    left: 5vw;
}


/*------------Burgermenu-------------*/

body {
    overflow-x: hidden;
    /*        så man ikke kan scroll til højre og se baren*/
}

.menu {
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 13vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(100%);
    margin-top: -20px;

}


/* menuen usynligøres indtil der klikkes på burger*/
/*
.menu li {
    opacity: 100%;
    position: absolute;



}
*/

/*    synligør menuknappen(burgerbar)*/
.menuknap {
    color: #585858;
    font-size: 29px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    /*---få burgermenu ud til højre uden brug af right px---*/

}

ul {
    list-style-type: none;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 50px;
    letter-spacing: 5px;
    line-height: 40px;
}

a {
    color: #585858;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;


}

/********** MOBIL NAV BAR SLUT *************/

/*Når menuknappen klikkes skal den tydeligøres (til javascript) */
.menuknap_aktiv {
    transform: translateX(0%);
    z-index: 100;
}


/*----------Footer----------*/
#footer {
    background-color: #CBB7A4;
    position: relative;
    margin-top: 80px;
    height: 80px;
}

.some_wrapper {
    /* font skal sættes ind  */
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin: 8px;

}


#ig {
    text-align: left;
    color: white;
}


@media screen and (min-width: 470px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -30px;
        text-align: left;
    }
}

@media screen and (min-width: 500px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -70px;
        text-align: left;
    }
}

@media screen and (min-width: 510px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -100px;
        text-align: left;
    }
}

@media screen and (min-width: 510px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -100px;
        text-align: left;
    }
}

@media screen and (min-width: 580px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -120px;
        text-align: left;
    }
}

@media screen and (min-width: 630px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -160px;
        text-align: left;
    }
}

@media screen and (min-width: 675px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -190px;
        text-align: left;
    }
}

@media screen and (min-width: 700px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -200px;
        text-align: left;
    }
}

@media screen and (min-width: 750px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -230px;
        text-align: left;
    }
}

@media screen and (min-width: 800px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -230px;
        text-align: left;
    }
}

@media screen and (min-width: 830px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -250px;
        text-align: left;
    }
}

@media screen and (min-width: 875px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -275px;
        text-align: left;
    }
}

@media screen and (min-width: 925px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -310px;
        text-align: left;
    }
}

@media screen and (min-width: 925px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -310px;
        text-align: left;
    }
}

@media screen and (min-width: 1000px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -350px;
        text-align: left;
    }
}

@media screen and (min-width: 1100px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -380px;
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -430px;
        text-align: left;
    }
}

@media screen and (min-width: 1250px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -500px;
        text-align: left;
    }
}

@media screen and (min-width: 1350px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -520px;
        text-align: left;
    }
}

/*
@media screen and (min-width: 1400px) {
    .logo h3 {
        font-size: 15px;
        position: relative;
        margin-left: -900px;
        text-align: left;
    }
}
*/
