/*------------Menutop-------------*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: white;
    font-family: 'Open Sans Condensed', sans-serif;

}


/*------------logo-------------*/
.logo {
    color: #585858;
    letter-spacing: 2px;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    margin-left: -67vw;
    text-align: left;
}

.logo h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    position: relative;
}


/*------------Burgermenu-------------*/

body {
    overflow-x: hidden;
    /*        så man ikke kan scroll til højre og se baren*/
}

.menu {
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 13vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(100%);
    margin-top: -20px;

}


/* menuen usynligøres indtil der klikkes på burger*/
/*
.menu li {
    opacity: 100%;
    position: absolute;



}
*/
/*    synligør menuknappen(burgerbar)*/
.menuknap {
    color: #585858;
    font-size: 29px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    /*---få burgermenu ud til højre uden brug af right px---*/

}

ul {
    list-style-type: none;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 50px;
    letter-spacing: 5px;
    line-height: 40px;
}

a {
    color: #585858;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;


}

/********** MOBIL NAV BAR SLUT *************/

/*Når menuknappen klikkes skal den tydeligøres (til javascript) */
.menuknap_aktiv {
    transform: translateX(0%);
    z-index: 100;
}


/*----------Footer----------*/
#footer {
    background-color: #CBB7A4;
    position: relative;
    margin-top: 80px;
    height: 80px;
}

.some_wrapper {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin: 8px;

}


#ig {
    text-align: left;
    color: white;
}

@media screen and (min-width: 750px) {
    .logo h3 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 15px;
        position: relative;
        margin-left: -13vw;
    }

}
