/*------------Section1-------------*/
.overskrift h3 {
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

.section1 a {
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    padding: 80px;
}

.mintbox1 {
    background-color: #BAC7BE;
    height: 200px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 200px;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}


.mintbox2 {
    background-color: #BAC7BE;
    height: 200px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    line-height: 200px;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.mintbox3 {
    background-color: #BAC7BE;
    height: 200px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    line-height: 200px;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;

}

.mintbox4 {
    background-color: #BAC7BE;
    height: 200px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    line-height: 200px;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

@media screen and (min-width: 700px) {
    .overskrift h3 {
        font-size: 30px;
    }
}

@media screen and (min-width: 900px) {

    .section1 {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .mintbox1 {
        margin-left: auto;
        margin-right: 20px;
    }

    .mintbox2 {
        margin-right: auto;
        margin-top: auto;
        margin-left: 0;

    }

    .mintbox3 {
        margin-left: auto;
        margin-right: 20px;

    }

    .mintbox4 {
        margin-right: auto;
        margin-left: 0;

    }

}
