/*
.section1 h2 {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
}

.box1 h3 {
    text-align: left;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px;
    margin-left: -5px;
}

.box2 h3 {
    text-align: left;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px;
    margin-left: -5px;
}

.box3 h3 {
    text-align: left;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px;
    margin-left: -5px;
}
*/

/*
.box4 h3 {
    text-align: left;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px;
    margin-left: -5px;
}

h4 {
    text-align: left;
    color: #585858;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px;
    margin-left: -5px;
}

box1 {
    background-color: #e3e3e3;

    padding: 5px;
    margin-top: 8px;

    height: 580px;
    width: 420px;
}

a {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
    letter-spacing: 0.5px;
    margin-top: -70px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 20px;
}

p {
    font-size: 13px;
    font-family: 'Playfair Display', serif;
    text-align: left;
    letter-spacing: 0.5px;
    margin-top: -70px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 20px;
}
*/
